<!-- {{room | json}} -->

<!-- it means no one is touched the form yet-->
<!-- {{roomsForm.pristine | json}}  -->
<!-- it means form is  touched and value is written then it remove it-->
<!-- {{roomsForm.dirty | json}} 
{{roomsForm.valid | json}}
{{roomsForm.invalid | json}}
{{roomsForm.value | json}}
{{roomsForm.touched | json}} -->

<div *ngIf="successMsg !== ''" class="alert alert-success">{{successMsg}}</div> 

<form #roomsForm="ngForm" (ngSubmit)="AddRoom(roomsForm)">
    <div class="form-group">
        <input type="text" class="form-control" name="roomType" placeholder="Room Type" [(ngModel)]="room.roomType" [ngModelOptions]="{updateOn:'blur'}" required/>
    </div>
    <div class="form-group">
        <input type="text" class="form-control" name="amenities" placeholder="Room Amenities" [(ngModel)]="room.amenities" minlength="5" maxlength="20" #roomsAmenities = "ngModel" required/>
        <div *ngIf="roomsAmenities.invalid && roomsAmenities.touched" class="alert alert-danger">Room Amenities is required</div>
        <div *ngIf="roomsAmenities.errors?.['minlength']" class="alert alert-danger">Amenities should be at least 5 characters</div>
        <div *ngIf="roomsAmenities.errors?.['maxlength']" class="alert alert-danger">Amenities reached the 20 maximum characters</div>
        <!-- <div>{{roomsAmenities.errors | json}}</div> -->
    </div>
    <div class="form-group">
        <input type="number" class="form-control" name="price" placeholder="Room  Price per Night " [(ngModel)]="room.price" required/>
    </div>
    <div class="form-group">
        <input type="text" class="form-control" name="photos" placeholder="Photos(provide Link)" [(ngModel)]="room.photos" required/>
    </div>
    <div class="form-group">
        <input type="datetime" class="form-control" name="checkinTime" placeholder="Check in Time" [(ngModel)]="room.checkinTime" required>
    </div>
    <div class="form-group">
        <input type="datetime" class="form-control" name="checkoutTime" placeholder="Check out Time" [(ngModel)]="room.checkoutTime" required/>
    </div>
    <div class="form-group">
        <input type="number" class="form-control" name="rating" placeholder="Room Rating" [(ngModel)]="room.rating" min="1" max="5" #roomsRating = "ngModel" required />
        <!-- <div>{{roomsRating.errors | json}}</div>
        <div *ngIf="roomsRating.errors?.['min'] || roomsRating.errors?.['max'] && roomsAmenities.touched" class="alert alert-danger">Rating should be between 1 and 5</div> -->
    </div>

    <div>
        <button [disabled]="roomsForm.invalid" class="btn btn-primary" type="submit">Submit Room</button>
    </div>
</form>