<!-- <h1>Hello Angular</h1> -->
<!-- * 1st way to load the data using 👇🏼 -->
<!-- <hoin-rooms></hoin-rooms> -->
<!-- <hoin-employee></hoin-employee> -->

<!-- <hoin-container>
    <hoin-rooms></hoin-rooms>
    <hoin-employee></hoin-employee>
    <h1>
        this is ng content 
    </h1>
</hoin-container> -->

<!-- <div #name></div> -->

<!-- * 2nd way to load the component dynamically using 👇🏼 ng template-->
<!-- <div>
    <ng-template #user></ng-template> 
 </div> -->
 
<!-- <div *ngSwitch="role">
    <div *ngSwitchCase="'User'">welcome User here !</div>
    <div *ngSwitchCase="'Admin'">
    <hoin-rooms></hoin-rooms>
    </div>
    <div *ngSwitchDefault>your are not authorized to view this page!</div>
</div> -->


<!-- 
<a [href]="'rooms'">Rooms</a>
<a [href]="'employee'">Employee</a> -->
<!-- <a [routerLink]="'rooms'">Rooms</a>
<a [routerLink]="'employee'">Employee</a> -->
<!-- <a routerLink="'rooms'">Rooms</a>
<a routerLink="'employee'">Employee</a> -->
<hoin-app-nav></hoin-app-nav>
<!-- <router-outlet></router-outlet> -->