<!-- <h2>welcome to {{hotelName}}</h2> -->
<hoin-header></hoin-header>
<!-- <hoin-header></hoin-header>
<hoin-header></hoin-header> -->
<!-- {{rooms$ | async | json}} -->

<div [hidden]="hideRooms">
  Number of hotels :
  <div
    [ngStyle]="{ color: rooms.availableRooms ? 'green' : 'red' }"
    [innerText]="numberOfRooms"
  ></div>
</div>

<router-outlet></router-outlet>

<!-- {{rooms?.availableRooms ?? 'no rooms'}} -->
<!-- {{roomList | json}} -->

<!-- <div *ngIf="selectedRooms">
  {{ selectedRooms | json }}
</div> -->

<div>
  <button routerLink="add">Add Room</button>
  <!-- <button (click)="addRoom()">Add Room</button> -->
  <br>
</div>

<!-- <h2>Number of Rooms:{{roomsCount$ | async}} </h2>
<h3>{{getError$| async}}</h3> -->

<!-- <div *ngIf="rooms$ | async as rooms">
  <hoin-rooms-list
    [rooms]="rooms"
    [title]="title"
    (selectedRoom)="selectRoom($event)"
  >
  </hoin-rooms-list>
</div> -->
<!-- <div *ngIf="rooms.availableRooms > 0">
  <hoin-rooms-list
    [rooms]="roomList"
    [title]="title"
    (selectedRoom)="selectRoom($event)"
  >
  </hoin-rooms-list>
</div> -->
<!-- 
<button (click)="toggle()">Toggle</button>

<button (click)="editRoom()">Edit Room</button>

<button (click)="deleteRoom()">delete Room</button>

<h4>
  {{totalBytes}} loaded
</h4> -->

<!-- <router-outlet></router-outlet> -->